<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Town!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body class="">
		{{{ body }}}
	</body>
</html>
